# fail install when engines (node/npm) do not match package.json "engines"
engine-strict=true

# encourage exact versions in package.json (no ^/~)
save-exact=true

# ensure lockfile usage
package-lock=true
